<!--Footer starts-->

<footer>
    <div class="container-fluid" id="footer-main">
        <div class="row footer-col1">
            <div class="col-sm-4 col-md-4 col-xs-12 footer-col1">
                <a href="#">Policy Privacy</a><br>
                <a href="#">Terms of Service</a><br>
                <a href="#">Collage Edition</a><br>
                <a href="#">Find your collage</a><br>
                <a href="#">Tutorials</a><br>
                <a href="#">Individual Premium Edition</a><br>
                <a href="#">About us</a><br>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12 footer-col2">
                <h4>Contact us</h4><br><br>
                <p>support@edclub.com</p><br>
                <p>Phone: 080 123456789</p><br>
                <p>Toll free: 1800-123456789</p><br>
                <p>Fax: 080 123456789</p>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12 footer-col3">
                <h4>Edclub 2020-2022</h4><br><br>
                <p>Bhanashankari stage 2,</p><br>
                <p>Bengaluru, Karnataka,</p><br>
                <p>India 560020.</p>
                <!--Divider line starts-->

                <div class="divider-center-large"></div>

                <!--Divider line ends-->
                <h5><strong>Follow us</strong></h5>
                <div class="footer-icons">
                    <ul> 
                        <li>
                            <a href="#"><img src="../../assets/images/linkedin-icon-2 (1).png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/images/facebook.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer ends-->