/* .header {
  background-image: linear-gradient(to right, green, rgb(24, 93, 24));
  padding: 1%;
  position: fixed;
}
.header a{
    text-decoration: none;
}

.left {
  float: left;
  color: white;
  font-weight: bold;
  font-size: xx-large;
}
.right {
  float: right;
  color: white;
  padding-right: 1.5%;
} */
.body {
  background-color: #F9F9F9;
  padding-top: 5%;
}
.illustrationimg {
padding-left: 10%;
padding-top: 10%;
height: 100%;
width: 90%;
}
.midpart{
    background-color: rgba(255, 255, 255, 0.3);
}
.panaimg {
padding : 10%;
height: 100%;
width: 100%;
}

.midpart p {
margin: 0;
padding: 0;
font-size: 150%;
font-weight: 520;
width: 40%;
align-self: stretch;
}

.midheader {
background-color: rgb(12, 161, 12);
}

.midbody {
background-color: #F9F9F9;
padding: 5% 5% 5% 5%;
color: #404040;
border-bottom: 1px solid rgba(64, 64, 64, 0.2);
}
.midbody #cols{
    margin: auto;
}
.midbody h2{
    font-weight: 500;
}
.midbody p{
    font-weight: 400;
    font-size: 120%;
    text-align: justify;
}
#testimonial-home{
text-align: center;
padding-top: 20px;
background-color: rgb(244, 247, 250);

}
#testimonial-home img{
    width: 100px;
    height: 90px;
    border-radius: 50%;
    margin: -40px 0 0 0; 
    float: left;           
}
#testimonial-home-row1{
    margin: 50px auto 0 auto;
    padding: 0 15% 0 15%;
}
#testimonial-home-col{
    margin: 30px;   
    border-radius: 15px;   
    background-color: white;     
    position: relative; 
    border-width: 5px;
    box-shadow: 10px 10px 10px 10px grey;
}
#testimonial-home-col span{
    display: inline-block;
    text-align: center;
    font-size: 20px;
}
#testimonial-home-col h4{
    margin: 0;
    padding: 0;
    transform: translateY(-250%);
}
#testimonial-home-col p{
    margin: auto;
    text-align: justify;
    width: 90%;
    padding-bottom: 50px;
    font-size: medium;
}
#testimonial-home-button{
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 10px;
}
#testimonial-home-button button{
    border-radius: 50%;
    width: fit-content;
    margin-right: 55px;
    border: none;
    background-color: white;
    /*padding: 10px;*/
}
#testimonial-home-button button:hover{
    box-shadow: 5px 5px 15px grey;
    transition-duration: 0.1s;
}
.checked{
    color: orange;
}
#testimonial-col-divider{
    background-color: grey;
    width: 90%;
    height: 1px;
    margin: auto;
    transform: translateY(-3000%);
}
.control{
    margin: auto;
    color: green;
    padding-left: 5px;
    padding-right: 5px;
}
  

#upcomingcourse-home{
  text-align: center;
}
#upcomingcourse-home h2{
  padding: 40px;
}
#upcomingcourse-home img{
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 30px;
}
.centered{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.centered span{
    font-weight: 800;
    font-size: 400%;
}
#collage-home{
    background-color: rgb(74, 72, 72);
    color: white;
    padding: 10%;
}
#collage-home img{
    width: 70%;
    height: auto;
    float: right;
}
#collage-home h3{
    margin-top: 5%;
}
#collage-home h2{
    margin-top: 5%;
}
#collage-home button{
    margin-top: 1%;
    padding: 2% 4% 2% 4%;
    border-radius: 15px;
    border-color: aliceblue;
    background-color: rgb(74, 72, 72);
}
#subscription-home{
    text-align: center;
    background-image: linear-gradient(to right, green, rgb(24, 93, 24));
    padding: 70px;
    color: white;
}
#subscription-home-form{
    width: fit-content;
    background-color: rgb(191, 191, 191);
    color: black;
    text-align: center;
    margin: 20px auto auto auto;
    padding: 0 2.5% 0 2.5%;
    border-radius: 10px;
    
}
#subscription-home-form button{
    width: 100px;
    height: 35px;
    margin: 15px;
    border-radius: 7px;
    border: none;
    background-color: white;
}