<app-menu></app-menu>

<div class="container">
    <div class="row" id="question-header">
        <p style="text-align: justify;">Q1. A boy goes to his school from his house at a speed of 3 kmph and returns at a speed of 2 kmph. If he takes 5 hours in going and coming, What is the distance between his house and school ?</p>
    </div>
    <div class="row" id="question-options">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>2 Kms</p>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>6 Kms</p>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>4 Kms</p>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>10 Kms</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="row" id="question-formula">
                <p>Length of the train = (Speed x Time)</p>
            </div>
            <div class="row">
                <textarea name="question-notes" id="question-notes" cols="30" rows="20">                                      
                </textarea>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-sm-6 col-md-6 col-xs-12" id="question-hint">
            <p>
                Hint:
            </p>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12" id="question-submit">
            <button type="submit"><span>Cool</span></button>
        </div>
    </div>
</div>

<app-footer></app-footer>